body {

     font-family: 'Work Sans', sans-serif;
}

/*header related styles  */
header {
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     padding: 38px 240px;
}

header img {
     width: 86.041px;
     height: 40px;
}

nav div {
     display: flex;
     gap: 7px;
     align-items: center;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

nav>ul {
     display: flex;
     list-style: none;
     align-items: center;
}

nav li a {
     text-decoration: none;
     margin-right: 30px;
}

.nav-anchor {
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     padding: 18px 24px;
     margin-left: 56px;
}

/* main section related styles */
.banner {
     display: flex;
     gap: 52px;
     align-items: center;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
     padding: 90px 240px;
     max-width: 100%;
}

.banner-content {
     text-align: right;
}

.banner-title {
     font-size: 3rem;
     font-weight: 700;
     margin-bottom: 24px;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.banner-info {
     color: #534C64;
     font-size: 1rem;
     margin-bottom: 32px;
}

.btn-primary {
     border-radius: 48px;
     background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
     display: inline-flex;
     padding: 21px 40px;
     align-items: flex-start;
     gap: 10px;

     color: #FFF;
     font-size: 1.25rem;
     margin-bottom: 24px;
}

.our {
     font-size: 1.30rem;
     font-weight: 500;
}

.unleash {
     color: #534C64;
     font-size: 2rem;
     font-weight: 700;
}

/* online games related styles */
.online-title {
     color: #0B0223;
     font-size: 3rem;
     font-weight: 700;
     margin-top: 120px;
}

.funny-videos {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.online-games {
     color: #534C64;
     font-size: 1rem;
     margin-bottom: 48px;
}

.online-games {
     text-align: center;
}

.online-games-img {
     display: flex;
     gap: 24px;
}

.games figcaption {
     margin-top: 24px;

}

/* install styles  */
.install {
     display: flex;
     /* align-items: center; */
     gap: 260px;

     padding: 120px 240px 120px 435px;
}

.install-title {
     align-items: center;

}

.install h3 span {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.install h3 {
     color: #0B0223;
     font-size: 3rem;
     font-weight: 700;
}

.install p,
.play-games p {
     color: #534C64;
     font-size: 1rem;
}

.img-position {
     position: relative;
     bottom: 250px;
     right: 100px;
     width: 300px;

}

/* online play games */
.play-games {
     margin-left: 238px;
     /* padding-top: 120px; */
     display: flex;
     gap: 250px;
     align-items: center;

     /* padding: 360px 290px 120px 230px; */
}


.play-games h3 {
     font-size: 3rem;
     font-weight: 700px;
}

.small-img {
     position: relative;
     bottom: 200px;
     left: 500px;

}

.span1 {
     color: #F948B2;

}

.span2 {
     color: #8758F1;
}

/* career related styles */
.career {
     background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
     padding: 120px 95px 120px 240px;
     width: 1920px;
     height: 821px;
}

.career-title {
     color: #FFF;
     font-size: 3rem;
     font-weight: 700;
}

.career-info {
     color: #FFF;
     font-size: 1rem;
}

.career button {
     display: inline-flex;
     padding: 21px 40px;
     align-items: flex-start;
     gap: 10px;
     border-radius: 48px;
     background: #FFF;
     margin-top: 40px;
}

.career-coloum {
     color: #FFF;
     font-size: 1.25rem;
     display: flex;
     gap: 95px;
     margin-top: 32px;
     justify-content: space-between;
     align-items: center;
}

.career img {
     Copy width: 1920px;
     height: 821px;
}

.games-img {
     display: flex;
}

.div {
     display: flex;
     gap: 20px;
     border-radius: 50px;
     background: #FFF;
     

}

.div-main {
     margin-top: 150px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 50px;
     padding:120px 280px 120px 250px;
}

/* media quarrey mobile devices */
@media screen and (max-width:576px) {
     header {
          padding: 30px;
     }

     main {
          padding: 20px;

     }

     nav,
     ul,
     .banner,
     .online-games-img,
     .install,
     .career-coloum {
          flex-direction: column;
          gap: 30px;
          padding: 30px;
     }

     .banner-content {
          text-align: center;
          padding: 20px;

     }

     .install {
          padding: 5px;
     }

     .online-games-img {
          align-items: center;
          padding: 10px;
     }

     .play-games {
          flex-direction: column-reverse;
          padding-right: 30px;
     }

     .career {
          margin: 0px;
     }
     .div-main{
          grid-template-columns: repeat(3, 1fr);
          padding:0px;
          grid gap: 10px;
          width: 100%;
     }

}